@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* body{
    width: 100vw;
    height: 100vh;
    background-color: #eafdfc;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    overflow: hidden;
} */

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 60vh; /* Reduce la altura del carrusel */
}

.imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height: 300px; /* Reduce la altura de las imágenes */
    width: 600px; /* Ajusta el ancho de las imágenes */
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

.texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgba(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3 {
    text-shadow: 0px 0px 15px black;
    padding-top: 20px; /* Reduce el padding superior */
    color: white;
    font-weight: 300;
    font-size: 20px; /* Reduce el tamaño de la fuente */
}

.texto p {
    align-items: center;
    padding: 10px; /* Reduce el padding */
    color: white;
    font-size: 0px;
    font-weight: 300;
}

.imagenes .texto {
    width: 400px; /* Reduce el ancho del texto */
    height: 80px; /* Reduce la altura inicial del texto */
    transition: 1s;
}

.imagenes:hover .texto {
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-100px); /* Ajusta la transformación en Y */
    height: 200px; /* Reduce la altura en el hover */
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p {
    transition: font-size 0s .2s linear;
    font-size: 18px; /* Reduce el tamaño de la fuente en el hover */
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
}

.puntos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p {
    font-size: 40px; /* Reduce el tamaño de la fuente */
    font-weight: 500;
    margin-top: -20px; /* Ajusta el margen superior */
    color: black;
}

.puntos .bold {
    font-weight: 700;
    margin-left: 5px; /* Ajusta el margen izquierdo */
    margin-right: 5px; /* Ajusta el margen derecho */
    color: #5E17EB;
}
